@import "tailwindcss";

/* index.css */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  section {
    scroll-margin-top: 10rem; /* Matches your sticky header height plus breathing room */
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

section, 
h2 {
  scroll-margin-top: 180px;
}