@import "tailwindcss";

/* index.css */
@layer base {
  html {
    scroll-behavior: smooth;
  }
}
section {
  @apply max-w-3xl mx-auto px-6 py-12;
    scroll-margin-top: 80px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Global Section Headings */
  h2 {
  @apply text-2xl font-bold text-center mb-8 text-white uppercase tracking-widest text-[18px];
}


  /* Global Subheaders/Descriptions */
  section p.description {
    @apply text-slate-500 text-sm max-w-2xl mb-12;
  }

/* Default for Mobile (Smaller Header) */
section, 
h2 {
  scroll-margin-top: 120px;
}

/* For Desktop (Larger Header) */
@media (min-width: 768px) {
  section, 
  h2 {
    scroll-margin-top: 180px;
  }
}